---
import GitHub from './icons/GitHub.astro';
import VideoLink from './icons/VideoLink.astro';
import Java from '../components/icons/Java.astro';
import SpringBoot from '../components/icons/SpringBoot.astro';
import Link from '../components/icons/Link.astro';
import LinkButton from './LinkButton.astro';
const TAGS = {
  JAVA: {
    name: 'Java',
    class: 'bg-[#ddaf87] text-white',
    icon: Java,
  },
  SPRING: {
    name: 'Spring Boot',
    class: 'bg-[#67825c] text-white',
    icon: SpringBoot,
  },
};
const PROJECTS = [
  {
    title: 'LiterAlura',
    description: 'Gestion de libros y sus autores.',
    video: '#',
    github: 'https://github.com/Kcireog/LiterAlura',
    image: '/projects/literaluraProject.webp',
    tags: [TAGS.JAVA, TAGS.SPRING],
  },
  {
    title: 'Java Exercises',
    description:
      'Colección de ejercicios hechos en java, organizados por temática. Creado Con el proposito de practicar y fortalecer las bases tecnicas, para estar preparado para futuras pruebas tecnicas y desarrollar más confianza en el desarrollo de las mismas.',
    video: '#',
    github: 'https://github.com/Kcireog/Java-Exercises',
    image: '/projects/javaexcersisesProject.webp',
    tags: [TAGS.JAVA],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, video, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="project"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                    <tag.icon class="w-4 h-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="w-6 h-6" />
                  Code
                </LinkButton>
              )}
              {video && (
                <LinkButton href={video}>
                  <VideoLink class="w-6 h-6" />
                  Proximamente...
                  {/* Video resumen */}
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
