---
import Java from '../components/icons/Java.astro';
import SpringBoot from '../components/icons/SpringBoot.astro';
const TAGS = {
  JAVA: {
    name: 'Java',
    class: 'bg-[#ad9c8f] text-white',
    icon: Java,
  },
  SPRING: {
    name: 'Spring Boot',
    class: 'bg-[#879681] text-white',
    icon: SpringBoot,
  },
};
const PROJECTS = [
  {
    title: 'LiterAlura',
    description: 'Gestion de libros y sus autores.',
    link: '#',
    github: 'https://github.com/Kcireog/LiterAlura',
    image: '/projects/literaluraProject.webp',
    tags: [TAGS.JAVA, TAGS.SPRING],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
              <tag.icon class="h-4 w-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
